.Buyer-container {
    max-width: 100%;
    height: 100%;
    display: block;
    clear: both;
}

#TotalPrice {
    font-size: 50px;
}
table td {
    width: 33%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.trayCol{
    max-width:50%;
}
.alert {
    width: 30%;
    position: fixed;
    top: 30%;
    left: 35%;
}